= stylesheet_link_tag "about"

.fade
%section.star-wars

  .crawl

    .title
      %p Episode X
      %h1 Darth Surveyder

    %p It is a period of great animosity.  The Rebels, seeking to gain a foothold, need the power of consensus across the intergalactic factions.
    %br
    %p During the administrative meeting of the leaders of the Empire, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, DARTH SURVEYDER, a sophisticated survey application with enough consensus building capabilities to change the course of the universe.
    %br
    %p Pursued by the Empire’s sinister agents, Princess Leia polls her colleagues to answer questions of great importance in a race against time to gain unanimity throughout the galaxy...
