@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

nav.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 10px 15px;
}

.progress {
  margin-top: 5px;
}

.tooltip-inner {
  //width: 350px;
}
